@media only screen and (min-width: 1921px) and (max-width: 4800px) {}
@media only screen and (min-width: 1440px) and (max-width: 1599px) {}
@media only screen and (min-width: 1280px) and (max-width: 1439px) {}
@media only screen and (min-width: 1024px) and (max-width: 1279px){}


@media all and (max-width:1280px){
    .container {
        max-width: 90%;
    }
}

@media all and (max-width:991px){
    .header-main-content {
        padding: 0px;
    }
    .menu-toggle {
        display: block;
    }
    .header-top {
        display: none;
    }
    .address-content {
        display: none;
    }

    .header-main-content.flex-between.off-canvas-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 20px;
    }
    .off-canvas-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100%;
        background-color: #333;
        padding-top: 60px;
        transition: left 0.3s ease-in-out;
        z-index: 999;
        overflow-x: hidden;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }

      .off-canvas-menu.open {
         left: 0;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }

      .header-main-content.flex-between.off-canvas-menu ul.flex {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }
        .main-menu > ul li:hover > ul {
            visibility: inherit;
            opacity: inherit;
            -webkit-transition: 0.6s;
            -o-transition: 0.6s;
            transition: 0.6s;
            -webkit-transform: inherit;
            -ms-transform: inherit;
            transform: inherit;
        }
        .main-menu > ul ul {
            position: relative;
            top: 0;
            left: 0;
            background: 0 0;
            padding: 0;
            -webkit-transition: 0.9s;
            -o-transition: 0.9s;
            transition: 0.9s;
            display: none;
            min-width: inherit;
            opacity: 0;
            transform: translateY(-10px);
        }
        .main-menu > ul ul.show {
            visibility: visible;
            opacity: 1;
            -webkit-transition: 0.9s !important;
            -o-transition: 0.9s !important;
            transition: 0.9s !important;
            display: block;  
            animation: slideIn 0.3s ease-in-out forwards;
        }
        @keyframes slideIn {
            from {
              opacity: 0;
              transform: translateY(-10px);
            }
            to {
              opacity: 1;
              transform: translateY(0);
            }
        }
        .main-menu > ul > li > a {
            padding: 10px 0px;
            display: block;
        }
        .main-menu > ul > li {
            margin-right: 0px;
            border-bottom: 1px solid #864e4e;
            width: 100%;
        }
        .main-menu > ul > li:last-child{
            border: none;
        }
        .main-menu > ul ul li {
            border-bottom: 1px solid #864e4e;
        }
        .main-menu > ul > li ul.sub-menu > li > a {
            color: #fff;
        }
        .header-area.sticky-menu .header-main-content {
            padding: 0px;
            padding-top: 60px;
            padding-left: 20px;
        }
  
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 99;
      }

      .main-menu {
            width: 90%;
        }
  
      .overlay.active {
        display: block;
      }
      .header-area.sticky-menu .logo-area {
        display: block;
    }

    .banner-area {
        margin-top: 88px;
    }

    .section-padding {
        padding: 50px 0px;
    }
    .section-title h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .section-title p {
        width: 100%;
        font-size: 14px;
    }
    .why-choose-content-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .support-given-main-flex {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .owl-theme .owl-nav {
        display: none;
    }
    .project-main-grid {
        margin-top: 30px;
    }
    .about-main-grid {
        grid-template-columns: 1fr;
    }
    .footer-main-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .footer-single-item .section-title h2 {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .footer-address-content .address-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }





  
}

@media all and (max-width:767px){
	.logo a img {
        width: 175px;
        position: relative;
        left: -20px;
    }
    .why-choose-content-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .support-given-single-item span {
        font-size: 13px;
    }
    .icon-boxX i {
        font-size: 25px;
    }
    .count-plus > span {
        font-size: 25px;
    }
    .about-list-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 20px;
    }
    .about-right p {
        padding-bottom: 20px;
    }
    p {
        font-size: 14px;
    }
    .about-icon-content strong {
        font-size: 15px;
    }
    .about-main-grid {
        gap: 30px;
        margin-top: 30px;
    }
    .common-btn {
        font-size: 16px;
    }
    section.our-service-area.section-padding {
        padding-top: 30px;
    }
    .services-animated-main-grid {
        margin-top: 40px;
        margin-bottom: 30px;
        grid-row-gap: 30px;
        justify-content: center;
    }
    .testmonial-main-grid {
        padding: 30px 0px;
    }
    .footer-main-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-single-item.footer_widget_2 {
        margin-left: 0px;
    }
    .footer-single-item.footer_widget_3 {
        margin-left: 0px;
    }
    .footer-single-item .section-title h2 {
        margin-bottom: 25px;
    }
    .inner-footer-grid > a {
        justify-content: flex-start;
    }
    .footer-content .main-menu ul.flex li {
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    .footer-content {
        margin-top: 15px;
    }
    .footer-address-content .address-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-bottom {
        padding-top: 15px;
        margin-top: 10px;
    }
    .footer-bottom {
        flex-direction: column;
    }
    .footer-bottom span, .footer-bottom p {
        margin-bottom: 3px;
    }
    .footer-address-content .address-content .address-single-item {
        padding: 15px 0px;
        padding-left: 30px;
        justify-content: flex-start;
    }
    .footer-area::after {
        bottom: 100px;
    }
    a.mobile-more-btn.site-button.button-lg.m-r15 {
        font-size: 14px !important;
    }
    .mobile-desc{
        font-size: 14px !important;
        line-height: 18px !important;
    }



}

@media all and (max-width:575px){
	
}

@media all and (max-width:413px){
    .support-given-main-flex {
        grid-template-columns: repeat(1, 1fr);
    }
    .icon-boxX i {
        font-size: 44px;
    }
    .partner-img img {
        width: 140px !important;
    }
}

@media all and (max-width:374px){

}






