@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/*
 Landingpage Default css
*/
html {
	scroll-behavior: smooth;
}
:root {
   --primary-bg: linear-gradient(270deg,#004e8c,#0078d4);
   --primary-bg-reverse: linear-gradient(270deg, #0078d4, #004e8c);
   --primary-green-bg: linear-gradient(270deg, #57D163, #24B43B );
   --primary-text-color : #;
   /* --secondary-text-color : #1B69B3; */
   --secondary-text-color : #00A2E2;
   --font-family-primary : 'Space Grotesk', sans-serif;
   --body-bg : #ECF0F5;
 }
body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
p a{
  background: transparent !important;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
   display: block;
}
textarea{
	outline:none !important;
}

audio,
canvas,
video {
   display: inline-block;
}
a{
  outline: none !important;
}
audio:not([controls]) {
   display: none;
   height: 0;
}

[hidden] { display: none; }

code, kbd, pre, samp {
   font-family: monospace, serif;
   font-size: 1em;
}

pre {
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word;
}

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

ins {
   background-color: #ff9;
   color: #000;
   text-decoration: none;
}

mark {
   background-color: #A7F4F6;
   color: #555;
}

del { text-decoration: line-through; }

abbr[title], dfn[title] {
   border-bottom: 1px dotted;
   cursor: help;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

textarea{
  outline: none !important;
}
/****************** End default css******************/

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}


/* common css class */

.container {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   padding-right: 15px;
   padding-left: 15px;
}

.flex{
   display: flex;
}
.item-center{
   align-items: center;
}
.flex-between{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.center{
   text-align: center;
}
p {
	color: #fff;
	font-weight: 400;
	line-height: 1.5;
	font-size: 16px;
}
.hide-scroll{
   overflow: hidden;
}

.common-btn > a {
	background: var(--primary-text-color);
	display: inline-block;
	color: #fff;
	padding: 20px 40px;
	border-radius: 50px;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid var(--primary-text-color);
   transition: 0.5s;
}
.common-btn > a:hover{
   background: #fff;
   transition: 0.5s;
   color: var(--primary-text-color);
   border: 1px solid #fff;
}

.common-btn > a > i {
	font-size: 16px;
	margin-left: 5px;
}

.section-padding{
   padding: 80px 0px;
}


.section-title span {
	color: var(--primary-text-color);
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 15px;
	letter-spacing: 1px;
	margin: 0 0 5px;
   position: relative;
   padding-left: 45px;
}
.section-title {
	text-align: center;
}

.section-title h2 {
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 18px;
	line-height: 1.2;
	font-weight: 700;
   color: #212121;
   position: relative;
   display: inline-block;
}

.wt-separator.style-square {
	width: 6px;
	height: 6px;
	background-color: transparent;
	border-width: 3px;
	border-style: solid;
	border-color: #2d3239;
	background: #fff;
}
.site-bg-primary {
	background: var(--secondary-text-color);
	z-index: -1;
}
.wt-separator {
	display: inline-block;
	height: 3px;
	width: 50px;
	position: relative;
}
.wt-separator.style-square .separator-left, .wt-separator.style-square .separator-right {
	height: 3px;
}
.wt-separator .separator-left, .wt-separator .separator-right {
	position: absolute;
	top: 50%;
	width: 26px;
	height: 2px;
	margin-top: -1px;
}
.wt-separator-outer {
	position: relative;
	top: -8px;
}

.wt-separator .separator-left {
	left: 18px;
}
.wt-separator .separator-right {
	right: 18px;
}




/* .footer-single-item .section-title h2::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	bottom: -12px;
	left: -15px;
	border: 2px solid var(--secondary-text-color);
	border-radius: 10px;
} */

.footer-single-item .section-title h2::after {
	position: absolute;
	content: "";
	width: 58px;
	height: 2px;
	bottom: -10px;
	left: 0px;
	border-radius: 2px;
	background:var(--secondary-text-color);
}

.section-title p {
	color: #212121;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 40px;
}

.section-title h2 b{
   color: var(--primary-text-color);
}

h3 {
	margin: 16px 0 23px 0;
	font-size: 22px;
	font-weight: 600;
	position: relative;
	line-height: 1.2;
	z-index: 1;
	display: block;
	color: var(--secondary-text-color);
}

.grid_2x{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   align-items: center;
}

h5 {
	font-family: var(--font-family-primary);
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #1a1a1a;
	margin-bottom: 10px;
}

/************ Header Area Css *************/
.header-area {
   position: absolute;
   width: 100%;
   height: auto;
   z-index: 99;
   top: 0;
   -webkit-transition: 0.4s;
   -webkit-transition: 0.4s;
   -o-transition: 0.4s;
   transition: 0.4s;
}

.header-top {
	padding: 12px 0px;
}

/* .logo > a img {
	width: 65px;
	height: auto;
} */

.header-top-parent{
   position: relative;
}

.header-top-parent::after {
	content: '';
	position: absolute;
	top: 0;
	left: -12px;
	width: 54%;
	height: 100%;
	z-index: -1;
	transform: skew(-26deg);
	padding-left: 20px;
	background: var(--secondary-text-color);
}
.header-top-parent::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: var(--secondary-text-color);
	z-index: -1;
}
.header-contact-info > ul > li {
   margin-right: 30px;
}
.header-contact-info > ul > li > a {
   color: #fff;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
}
.header-contact-info > ul > li > a > i {
   margin-right: 7px;
   color: #fff;
   font-size: 16px;
}

.header-social-media > ul > li {
   margin-right: 16px;
}
.header-social-media > ul > li > a {
   color: #fff;
   font-size: 16px;
   -webkit-transition: 0.6s;
   -o-transition: 0.6s;
   transition: 0.6s;
}
.header-social-media > ul > li:last-child {
   margin-right: 0;
}

.header-main-content {
	padding: 20px 30px;
	background: #1A1A1A;
	-webkit-transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.header-area.sticky-menu .header-main-content {
    padding: 15px 30px;
	-webkit-transition: 0.4s;
   -webkit-transition: 0.4s;
   -o-transition: 0.4s;
   transition: 0.4s;
}
.main-menu > ul > li > a {
	font-weight: 600;
	font-size: 16px;
	font-style: normal;
   color: #fff;
}
.main-menu > ul > li {
	margin-right: 25px;
   position: relative;
   clear: both;
    display: inline-block;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}
.main-menu > ul > li:last-child{
   margin-right: 0px;
}
/* .main-menu > ul > li:last-child a {
	background: var(--primary-text-color);
	color: #fff;
	padding: 11px 22px;
	border-radius: 3px;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
.main-menu > ul > li:last-child:hover a{
   background: #fff;
   color: var(--primary-text-color);
} */
.button-group {
	padding-top: 30px;
}

/* dropdown css */
.main-menu > ul ul {
   position: absolute;
   content: "";
   top: 58px;
   left: 0;
   z-index: 9;
   min-width: 150px;
   background: #fff;
   -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
   visibility: hidden;
   opacity: 0;
   -webkit-transition: 0.6s;
   -o-transition: 0.6s;
   transition: 0.6s;
   overflow: hidden;
   padding: 10px;
   padding-left: 15px;
}
.main-menu > ul > li ul.sub-menu > li > a {
   font-size: 12px;
   text-transform: capitalize;
   display: block;
   padding: 6px 0;
   color: #111;
   font-weight: 500;
   -webkit-transition: 0.6s;
   -o-transition: 0.6s;
   transition: 0.6s;
}

.main-menu > ul ul li {
	border-bottom: 1px solid #ddd;
}
.main-menu > ul ul li:last-child {
	border: none;
}

.main-menu > ul li:hover > ul {
   visibility: visible;
   opacity: 1;
   -webkit-transition: 0.6s;
   -o-transition: 0.6s;
   transition: 0.6s;
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
}


.header-area.sticky-menu {
   position: fixed;
   /* background: #fff; */
   -webkit-transition: 0.4s;
   -webkit-transition: 0.4s;
   -o-transition: 0.4s;
   transition: 0.4s;
   /* -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}

.header-area.sticky-menu .main-menu > ul > li > a {
   color: #fff;
}
.header-area.sticky-menu .header-top {
	display: none;
}

.address-single-item {
   display: flex;
   align-items: center;
}
.icon-content strong {
	display: block;
}
.logo-area {
	background: #fff;
	padding: 5px 0px;
}

.icon-sm i {
	font-size: 30px;
	color: var(--secondary-text-color);
	margin-right: 14px;
}
.icon-content strong {
	display: block;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
}
.icon-content span {
	font-size: 15px;
	font-weight: 400;
	color: #212121;
}
.icon-content {
	padding-right: 15px;
	margin-right: 10px;
}
.header-area.sticky-menu .logo-area {
	display: none;
}


.download-btn a {
	position: relative;
	padding: 15px 20px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	overflow: hidden;
	display: block;
	font-size: 17px;
	font-weight: 700;
	transition: 0.5s;
}
.download-btn a:hover {
	background: var(--secondary-text-color);
	/* background:#18d26e; */
	transition: 0.5s;
}
.download-btn a span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 3px;
	/* background: linear-gradient(to right, #171618, #3bff3b); */
	background: linear-gradient(to right, #171618, var(--secondary-text-color));
	animation: animate1 2s linear infinite;
}


@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.download-btn a span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 3px;
	/* background: linear-gradient(to bottom, #171618, #3bff3b); */
	background: linear-gradient(to bottom, #171618, var(--secondary-text-color));
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

.download-btn a span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 3px;
	/* background: linear-gradient(to left, #171618, #3bff3b); */
	background: linear-gradient(to left, #171618, var(--secondary-text-color));
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.download-btn a span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
	/* background: linear-gradient(to top, #171618, #3bff3b); */
	background: linear-gradient(to top, #171618, var(--secondary-text-color));
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}



/************ Banner Area Css *************/
.banner-area{
   overflow: hidden;
   margin-top: 133px;
}


/************ Header Area Css *************/


/************ why choose Area Css *************/
.why-choose-area{
   overflow: hidden;
   position: relative;
}
.why-choose-area::before{
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   background: url('../images/why-choose-pic-2.png') no-repeat scroll 0 0 / 100% 100%;
   top: 0;
   left: 0;
}
.icon-cell img {
	max-width: 100%;
	height: 70px;
   padding-bottom: 8px;
}

.why-choose-content-grid{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
  
}
.why-choose-over-bg{
	position: relative;
	z-index: 1;
}
.why-choose-over-bg::after{
	position: absolute;
	content: "";
	width: 336px;
	height: 100%;
	top: 35px;
	left: 0;
	background: url('../images/why-choose-pic-2.png') no-repeat scroll 0 0 / 100%;
	z-index: -1;
}
.why-choose-icon-content p {
	color: #212121;
	font-size: 14px;
	line-height: 1.3;
	text-align: justify;
}
.why-choose-icon-content h5 {
	text-transform: uppercase;
}
.scale-bg-top, .scale-bg-bottom {
	position: relative;
}
.scale-bg-top::before, .scale-bg-bottom::after {
	content: "";
	position: absolute;
	left: 0px;
	width: 100%;
	height: 50px;
	opacity: 0.4;
}
.scale-bg-bottom::after {
	background-image: url('../images//scale-bottom.png');
	background-position: bottom;
	background-repeat: repeat-x;
	bottom: 0px;
}
.scale-bg-top::before {
	background-image: url("../images/scale-top.png");
	background-position: top;
	background-repeat: repeat-x;
	top: 0px;
}

.why-choose-content-single {
	padding: 30px;
	background: #fff;
	border: 1px solid #ddd;
   text-align: center;
}

.animate_line {
	position: relative;
	z-index: 0;
   overflow: hidden;
}

/* .animate_line::after, .animate_line::before {
	content: "";
	height: 4px;
	width: 0px;
	position: absolute;
	transition: all 0.5s ease 0s;
	z-index: -1;
}
.animate_line::after {
	left: 7px;
	bottom: 5px;
}
.animate_line::before {
	right: 7px;
	top: 5px;
}
.animate_line:hover::after, .animate_line:hover::before {
	width: 100%;
	height: 100%;
	background: var(--secondary-text-color);
   padding-top: 40px;
   padding-bottom: 60px;
} */

.animate_line::before {
	content: "";
	height: 100%;
	width: 0px;
   top: 0;
   left: 0;
	position: absolute;
	transition: all 0.5s ease 0s;
	z-index: -1;
}

.animate_line:hover::before {
	width: 100%;
	background: var(--secondary-text-color);
}

.why-choose-content-single:hover .wt-icon-box-wraper .why-choose-icon-content h5 {
	color: #fff;
}
.why-choose-content-single:hover .wt-icon-box-wraper .why-choose-icon-content p {
	color: #fff;
}

/************ Achivement Area Css *************/
.achivement-area{
   background: var(--secondary-text-color);
   padding-top: 40px;
   padding-bottom: 60px;
}

.support-given-main-flex {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}
.support-given-single-item {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon-boxX i {
	font-size: 45px;
	margin-left: 10px;
	color: #fff;
}
.support-given-single-item span {
	color: #fff;
	font-size: 14px;
}
.count-plus {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	justify-content: flex-end;
}
.count-plus > span {
	font-size: 30px;
}
.count-plus h4 {
	color: #fff;
	margin-left: 2px;
}

/************ Project Area Css *************/
.complete-project-area{
   overflow: hidden;
}

.project-main-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 50px;
}
.project-single-item p {
	color: #000;
}
.project-img{
	margin: 10px;
	overflow: hidden;
}
.project-single-item .project-img img {
	width: 100%;
	height: auto;
	-webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}
.project-single-item {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	position: relative;
	overflow: hidden;
	margin: 0px 13px 10px 13px;
}

.project-content-item {
	padding: 30px 20px;
	padding-bottom: 60px;
	padding-top: 20px;
}

.project-content-item h3 {
	margin: 0;
	padding-bottom: 10px;
}

.detail-info-btn {
	position: absolute;
	bottom: -62px;
	left: 50%;
	transform: translateX(-50%);
	background: var(--secondary-text-color);
	width: 66%;
	text-align: center;
	border-top: 1px solid #ddd;
	height: 45px;
	transition: 0.5s;
}

.detail-info-btn a {
	padding-top: 100px;
	position: relative;
	top: 13px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.project-single-item:hover .detail-info-btn{
	bottom: 0;
	transition: 0.5s;
}

.project-single-item:hover .project-img img {
    -webkit-transform: scale(1.09);
    -ms-transform: scale(1.09);
    transform: scale(1.09);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

/************ Partner Area Css *************/
.partner-area{
	padding: 28px 0px;
	overflow: hidden;
	background: var(--secondary-text-color);
	position: relative;
	z-index: 1;
}
/* .partner-area::after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: var(--secondary-text-color);
	z-index: -1;
} */

.partner-area .section-title h2 {
	color: #fff;
}

.partner-area .site-bg-primary {
	background: #fff;
	z-index: -1;
}

.partner-main-grid{
	margin-top: 30px;
}
.partner-img img {
	width: 165px !important;
	height: auto;
}



/************ Testmonial Area Css *************/
.testmonial-main-grid{
	padding: 50px 0px;
}

.testmonial-single-item {
	margin: 10px 12px;
	text-align: center;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	border-radius: 10px;
	overflow: hidden;
}
.testmonial-img {
	background: #FFF;
	width: 120px;
	height: 120px;
	position: relative;
	display: inline-block;
	border: 2px solid #fff;
	margin: 10px 0px;
}
.testmonial-img img {
	width: 100%;
	border-radius: 100%;
}
.testmonial-single-item h4 {
	font-size: 25px;
	font-weight: 700;
	display: block;
	margin: 15px 0px;
}

.testimonial-text p {
	color: #000;
	padding-bottom: 20px;
}

/************ Services Area Css *************/
.our-service-area{
	padding-top: 0px;
}
.services-main-grid {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 25px;
	margin-top: 50px;
}
.services-single-item {
	text-align: center;
	transition: 0.5s;
	width: 200px;
	height: 200px;
	text-align: center;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	transition: 300ms;
	display: inline-block;
	position: relative;
}

.services-single-item:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	box-sizing: content-box;
	box-shadow: 0 0 0 3px var(--secondary-text-color);
	top: 0;
	left: 0;
	opacity: 0;
	transition: 300ms;
  }
  
  .services-single-item:hover {
	color: var(--secondary-text-color);
  }
  
  .services-single-item:hover:after {
	opacity: 1;
	transform: scale(1.07);
  }

.service-inner-item {
	position: relative;
	top: 54px;
}
.services-single-item h5 {
	font-size: 16px;
	font-weight: 700;
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}
.services-single-item:hover img{
	transform: scale(1.05);
    transition: 300ms;
  }
  

.services-single-item img {
	max-width: 100%;
	height: 60px;
}



.service-btn {
	text-align: center;
	margin-top: 40px;
}

.common-btn {
	border: 2px solid var(--secondary-text-color);
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 600;
	background: var(--secondary-text-color);
	color: #fff;
	border-radius: 5px;
	transition: 0.5s;
}
.common-btn:hover{
	background: transparent;
	color: #000;
	transition: 0.5s;
}


/************ About Area Css *************/
.about-main-grid {
	display: grid;
	grid-template-columns: 5fr auto;
	gap: 40px;
	margin-top: 35px;
}
.about-right p {
	color: #212121;
	padding-bottom: 30px;
	text-align: justify;
}
.about-list-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	margin-top: 40px;
}
.about-single-item {
	display: flex;
	border-left: 3px solid #eee;
}
.about-icon-content strong {
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
}
.about-icon-sm {
	margin-right: 20px;
	padding-left: 25px;
}
.about-icon-sm i {
	font-size: 30px;
	color: var(--secondary-text-color);
}
.about-icon-content span {
	font-size: 14px;
	color: #212121;
	margin-top: 5px;
	display: block;
}
.about-right .common-btn {
	margin-top: 40px;
	padding: 15px 35px;
}
.about-left{
	position: relative;
}
.about-left::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 10px;
	left: -10px;
	background-color: var(--secondary-text-color);
	z-index: -1;
}



/************ Footer Area Css *************/
.footer-area {
	overflow: hidden;
	background: #1a1a1a;
	padding-bottom: 30px;
	padding-top: 50px;
	position: relative;
}
.footer-area::after {
	position: absolute;
	content: "";
	bottom: 90px;
	left: 0;
	height: 15px;
	width: 100%;
	background-color: var(--secondary-text-color);
	background-image: url('../images/footer-strip.png');
	background-repeat: repeat-x;
	background-position: center top;
}

.footer-main-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.footer-single-item .section-title{
	text-align: left;
}
.footer-single-item .section-title h2 {
	font-size: 17px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 40px;
}
.footer-content {
	margin-top: 30px;
}
.footer-content p {
	color: #999;
	width: 100%;
	text-align: justify;
	font-size: 15px;
}
.footer-content > a > img {
	width: 85%;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

.footer-content .main-menu ul.flex {
	flex-direction: column;
}

.footer-content .main-menu ul.flex li {
	margin-bottom: 15px;
	border-bottom: 1px dashed rgba(102,102,102,0.3);
	padding-bottom: 10px;
}

.footer-content .main-menu ul.flex li a{
	color: #999;
	font-size: 14px;
}

.footer-content > ul > li:first-child{
	padding-top: 0px;
}
.footer-content > ul > li {
    color: #999;
    line-height: 1.6;
    font-size: 15px;
    font-weight: 400;
    display: block;
    padding: 6px 0;
}
.footer-content > ul > li span {
    font-weight: 600;
	display: block;
}
.footer-content > ul > li a {
    display: block;
    color: #999;
    line-height: 1.5;
}


.footer-bottom span a {
    color: #fff;
    text-decoration: underline;
}
.footer-bottom {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	margin-top: 40px;
}
.footer-bottom span,
.footer-bottom p {
	color: #999;
}
.inner-footer-grid > a {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.inner-footer-grid > a img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	margin-right: 15px;
}
.p-heading h4 {
	color: #999;
	margin-bottom: 3px;
	font-size: 14px;
}
.p-heading p {
	font-size: 14px;
}
.inner-footer-grid > a {
	margin-bottom: 30px;
}
.footer-single-item.footer_widget_3 {
	margin-left: 50px;
}
.footer-single-item.footer_widget_2 {
	margin-left: 25px;
}

.footer-address-content {
	padding: 45px 0px;
}

.footer-address-content .address-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}
.footer-address-content .address-content .address-single-item {
	border: 1px solid #333333;
	padding: 20px 25px;
	justify-content: center;
}
.footer-address-content .address-content .icon-content strong {
	color: #fff;
	font-weight: 700;
	font-size: 17px;
	margin-bottom: 5px;
}
.footer-address-content .address-content .icon-content span {
	color: #999
}
.footer-address-content .address-content .address-single-item .icon-sm i {
	font-size: 45px;
	margin-right: 15px;
}
.footer-address-content .address-content .icon-content a {
	color: #999;
	display: block;
	font-size: 14px;
}
.footer-content .footer-download-btn {
	margin-top: 45px;
}
.footer-content .footer-download-btn a {
	text-align: center;
	padding: 16px 25px;
	background: var(--secondary-text-color);
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	transition: 0.5s;
	border-radius: 5px;
}
.footer-content .footer-download-btn a:hover{
	background: #fff;
	color: var(--secondary-text-color);
	transition: 0.5s;
}

.footer-single-item.footer_widget_4 .header-social-media > ul > li > a {
	color: #999;
	font-size: 25px;
}

.footer-single-item.footer_widget_4 .header-social-media > ul > li {
	margin-right: 25px;
}
.footer-single-item.footer_widget_4 .header-social-media > ul {
	margin-top: 12px;
}

/************ Back to top Area Css *************/
#backToTopBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: var(--secondary-text-color);
	color: white;
	border: none;
	border-radius: 100%;
	cursor: pointer;
	z-index: 99;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
#backToTopBtn span i {
	font-size: 20px;
} 


/************ Header Area Css *************/
/************ Header Area Css *************/
/************ Header Area Css *************/


